.descriptions {
    width: 100%;
    background-image: url("../img/background2.svg");
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center;
}

.descriptions__icon{
    max-height: 100px;
}

.descriptions__row-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr)
}

.descriptions__column-container {
    display: grid;
    grid-template-columns: 1fr 3fr
}
@media screen and (max-width: 768px) {
    .descriptions__row-container,
    .descriptions__column-container {
        grid-template-columns: 1fr
    }
}
@media screen and (max-width: 960px) {
    .descriptions{
      min-height: 70vh;
        }
    }
@media screen and (max-width: 700px) {
    .descriptions{
    min-height: 50vh;
        }
    }
@media screen and (max-width: 490px) {
    .descriptions{
    min-height: 30vh;
         }
    }