.main-container{
    background: url("../img/background.svg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	min-height: 120vh;     
    min-width: 100vw; 
    overflow: hidden; 
 	margin-bottom: 150px;
}
@media screen and (max-width: 960px) {
    .main-container{
      min-height: 70vh;
        }
    }
 @media screen and (max-width: 700px) {
    .main-container{
    min-height: 50vh;
        }
    }
@media screen and (max-width: 490px) {
    .main-container{
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
         }
    }
.announcement {
    font-weight: bold;  
    color: #2c4040;
    padding-left: 9%;
    padding-top: 4%;
    margin-top: 5%;
}
@media all and (min-width: 960px) {
    .announcement{
        font-size: 65px;
        }
    }
@media all and (max-width: 959px) and (min-width: 600px) {
    .announcement{
         font-size: 5vw;
      }
    }
@media all and (max-width: 599px) and (min-width: 50px) {
    .announcement{
        font-size: 9vw;
      }
    }
.offer {
    font-size: 3vw;
    font-weight: 500;  
    color: #ffffff;
    padding-left: 9%; 
	margin-bottom: 3%;
  }
@media all and (min-width: 960px) {
    .offer{
        font-size: 40px;
        }
    }
@media all and (max-width: 959px) and (min-width: 600px) {
    .offer{
		
        font-size: 5vw;
      }
    }
@media all and (max-width: 599px) and (min-width: 50px) {
    .offer{
        font-size: 6vw;
      }
	.main-container{
  		min-height: 140vh;     
    	min-width: 100vw; 
 		margin-bottom: -200px;
    }
	.announcement {
    	font-weight: bold;  
    	color: #2c4040;
    	padding-left: 9%;
    	padding-top: 4%;
    	margin-top: 50%;
	}
	.button {
		margin-top: 20%;
	}
	.computer_photo{
		margin-top: 50vw;
    	width: 70%;
    	height: auto; 
		overflow: hidden;
}
}

.button {
    margin-left: 9%;
    background-color: #ffffff;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    color: #fe979c;
    font-size: 20px;
    width: 271px;
    height: 55px;
    border: none;
    border-radius: 28px;
}
.computer_photo{
	margin-top: 5%;
    position: absolute;
    left: 30%;
    top: 15%;
    width: 70%;
    height: auto;
    overflow: hidden;
}

