.container2{
    margin: 0 auto;
}


.main {
 width: 100%;
}

.main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    min-height: 80vh;
    background: url("../img/background.svg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    min-width: 100%;
    max-width: 100%;
    margin: auto;

}

.main-container-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;

}

.main-container-picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mySlides {
    max-width: 550px;

}

.slides_dots {
    position: absolute;
    bottom: 250px;
}


.announcement{
    font-weight: bold;  
    color: #2c4040;
    font-size: 5em;
    margin-bottom: 0;
}

.offer{
    color: #ffffff;
    font-size: 3em;

}

@media screen and (max-width: 768px) {
    .main-container {
    flex-direction: column; 
    }

    .main-container-picture {
        height: 300px;
        position: relative;
    }


    .main-container-header {
    margin-top: 100px;
    margin-left: 10px;
    }

    .slides_dots{
        bottom: 0;
    }

    .announcement {
        font-size: 2.5em;
        margin-bottom: 0;
    }

    .offer {
        font-size: 2em;
    }
}

.button {
  	display: inline-block;
    text-decoration: none;
    margin-left: 9%;
    background-color: #ffffff;
    font-weight: bold;
    text-align: center;
    text-justify: center;
    vertical-align: center;
    color: #fe979c;
    font-size: 20px;
	line-height: 55px;
    width: 271px;
    height: 55px;
    border: none;
    border-radius: 28px;
	}

.dot {
  cursor: pointer;
  margin: 0 5px;
  height: 15px;
  width: 15px;
  background-color: #71DBB7;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


.active, .dot:hover {
  background-color: #ffa894;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}