.sign-up {
    color: white;
    letter-spacing: 2px;
    background-color: #fe999b;
    width: 100%;
    height: 900px;
}
.sign-up__logo {
    background: url(../img/sign-up-form-img.jpg);
    height: 200px;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}

.sign-up__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.side-right__input {
    width: 80%;
    height: 55px;
    border-radius: 28px;
    background-color: #ffffff;
    border: none;
    margin-bottom: 50px;
    text-align: center;
	font-size: 16px;

}
.side-right__button {
    width: 80%;
    height: 55px;
    border-radius: 28px;
    background-color: #ffffff;
    border: none;
    background-color: #71dbb7;
    margin-bottom: 15px;
}
.user-email {
  text-align: center;
  width: 506px;
  height: 26px;
  font-weight: normal;
  text-align: center;
  color: #93a6b9;
}

.sign-up-form__column {
    padding: 50px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

@media screen and (max-width: 780px) {
    .sign-up__form {
        display: grid;
        grid-template-columns: 1fr;
    }
}


.sign-up-form__checkbox {
    text-align: center;
    font-size: 0.5em;    
}
