.team_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 5%;
    margin-top: 0%;
    opacity: 0;
    transition: all 1100ms ease-in;
}
.js-team_container-animate{
    opacity: 1;
    animation: team_container_jiggle 1000ms linear;
}
@keyframes team_container_jiggle{
    0%{
        transform: rotate(0);
    }
    33%{
        transform: rotate(15deg);
    }
    66%{
        transform: rotate(-15deg);
    }
    100%{
        transform: rotate(0);
    }
}
@media only screen and (max-width: 935px) {
    .team_container {
        flex-wrap: wrap;  
    }
}
.box{
    display:flex;
    border: 8px solid #ffffff;
    height: 490px;
    width: 20%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-decoration: none;    
    overflow: hidden; 
}
.box__Magda { 
    background-image: url("../img/magda.PNG") ;   
}
.box__Mateusz{
    background-image: url("../img/mateusz.jpg") ; 
}
.box__Kacper{
    background-image: url("../img/kacper.jpg") ; 
}
.box__Arek{
    background-image: url("../img/arek.jpg") ; 
}
a.team1:visited, a.team1:link, a.team1:hover{
    text-decoration: none;
    color:#ffffff;   
}

@media only screen and (max-width: 935px) {
    .box {
        width: 44%;
    }  
}
@media only screen and (max-width: 470px) {
    .box {    
        width: 96%;
    }   
}
.rectangle{
    height: 50px;
    width: 100%;
    align-self: flex-end;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    background-color: #71dbb7;
    vertical-align: middle;
    line-height: 3;  
}
.rectangle.arek{
    position: relative;
    z-index: 1;
    transition: all 0.8s;
}
.rectangle.kacper{
    position: relative;
    z-index: 1;
    transition: all 0.8s;
}
.rectangle.mateusz{
    position: relative;
    z-index: 1;
    transition: all 0.8s;
}
.rectangle.magda{
    position: relative;
    z-index: 1;
    transition: all 0.8s;
}
.socials{
    font-weight: bold;
    color: #ffffff;
    font-size: 16px;
    z-index: 0;
    position: absolute;
    align-self: flex-end;
    vertical-align: middle;
    padding-left: 10px;
    line-height: 50px;  
}
.icon-linkedin-circled{
    margin-left: 10px;
}
.box .rectangle:hover{
    background-color: #fe999b;
    transition: all 1s ease; 
    cursor: pointer;
}

/* .box:hover {
    -webkit-animation: blur 0.4s; 
}
    
    @-webkit-keyframes blur {
       0% { -webkit-filter: blur(0px);}
50% { -webkit-filter: blur(5px);}
100% { -webkit-filter: blur(0px);}
    } */
