.nav {
    background: white;
    min-width: 100%;
    max-width: 100%;
    margin: auto;
    border: black;
    text-align: right;
    position: fixed;
}

.navigation__item {
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    padding: 1vw;
}

.navigation{
}

.container {
    margin: 0 auto;
    max-width: 1024px;
}
