.menu {
    background: white;
    min-width: 100%;
    max-width: 100%;
    margin: auto;
    position: fixed;
    border-bottom: solid;
}

.menu__logo {
    padding: 1.5vw;
}

.menu__list {
    text-align: right;
}


.menu__list--item {
    list-style: none;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0 2vw;
    display: inline-block;
    align-items: flex-end;
}

.menu__list--item:hover {
    opacity: 0.8;
    color: green;
}

.menu__list--item:active {
    color: bisque
}


.menu__logo .menu__list--item {

}

