.sign-up {
    color: white;
    letter-spacing: 2px;
    background-color: #fe999b;
    width: 100%;
    height: 900px;
}
.sign-up__logo {
    background: url(sign-up-form-img.jpg);
    height: 200px;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}
.sign-up__title {
    text-align: center;
    padding: 100px;
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: bold;
    position: relative;
    padding: 10px;
    margin-bottom: 120px;
    font-weight: bold;
}
    
}
.sign-up__logo::after{
     content:'';
     height: 0;
     width: 29px;
     border: solid 3px white;
     position: absolute;
     left:calc(49%);
     bottom: 0;
     
}

.sign-up__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.side-right__input {
    width: 80%;
    height: 55px;
    border-radius: 28px;
    background-color: #ffffff;
    border: none;
    margin-bottom: 50px;
    text-align: center;

}
.side-right__button {
    width: 80%;
    height: 55px;
    border-radius: 28px;
    background-color: #ffffff;
    border: none;
    background-color: #71dbb7;
}
.user-email {
    text-align: center;
  width: 506px;
  height: 26px;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  color: #93a6b9;
}

.sign-up-form__column {
    padding: 50px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

@media screen and (max-width: 780px) {
    .sign-up__form {
        display: grid;
        grid-template-columns: 1fr;
    }
}
