.sign-up-form__user-email {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}
.sign-up-form__description {
    margin: auto;
    padding: 5px;
    text-align: center;
}
.sign-up-form {
    width: 30%;
    border: 1px solid black;
    padding: 1%;
    text-align: center;
    
}
