.row{
	display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    border: 0;

}

.cell-zero,
.cell-snake-head,
.cell-snake-body,
.cell-food {

    width: 80px;
    height: 80px;
    margin: 0;
    padding: 0;
    border: 0;
	margin: -1px;
	/* margin-left: -1px; */
}

.cell-zero{
    background-image: url(SVG/grass.svg);
}

.cell-snake-head{
    background-image: url(SVG/snake-head.svg); 
	background-repeat: no-repeat;
	margin-bottom: -1px;
}

.cell-snake-body{
    background-image: url(SVG/snake-body.svg);
}

.cell-food{
    background-image: url(SVG/dog.svg);
}